flows.json
[{"id":"b23ab862.8945e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e969faaf.d0e088","type":"ibmiot in","z":"b23ab862.8945e8","authentication":"apiKey","apiKey":"cfd30fd8.f39c3","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"AgricultureSmartSystem","applicationId":"","deviceType":"IoTDevice","eventType":"Data","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":140,"wires":[["9eeef05d.e5839","cf1590da.62e5a","edf1a38f.9fa7","c110c8f7.ab68b8"]]},{"id":"9eeef05d.e5839","type":"debug","z":"b23ab862.8945e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":140,"wires":[]},{"id":"cf1590da.62e5a","type":"function","z":"b23ab862.8945e8","name":"Soil Moisture","func":" msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["9eeef05d.e5839","9eccab21.e95688"]]},{"id":"edf1a38f.9fa7","type":"function","z":"b23ab862.8945e8","name":"Humidity","func":" msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["9eeef05d.e5839","caac7c4a.68c87"]]},{"id":"c110c8f7.ab68b8","type":"function","z":"b23ab862.8945e8","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["9eeef05d.e5839","704ef03f.fee2a"]]},{"id":"caac7c4a.68c87","type":"ui_gauge","z":"b23ab862.8945e8","name":"","group":"bd1d1ce8.db71b","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":200,"wires":[]},{"id":"704ef03f.fee2a","type":"ui_gauge","z":"b23ab862.8945e8","name":"","group":"bd1d1ce8.db71b","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":80,"wires":[]},{"id":"9eccab21.e95688","type":"ui_gauge","z":"b23ab862.8945e8","name":"","group":"bd1d1ce8.db71b","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":260,"wires":[]},{"id":"c91b72b1.d5fa1","type":"ibmiot out","z":"b23ab862.8945e8","authentication":"apiKey","apiKey":"cfd30fd8.f39c3","outputType":"cmd","deviceId":"Actuator","deviceType":"IoTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":420,"wires":[]},{"id":"64b5bce4.f58bf4","type":"ui_button","z":"b23ab862.8945e8","name":"","group":"bd1d1ce8.db71b","order":4,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":430,"y":440,"wires":[["c91b72b1.d5fa1","72e691ed.8cd89","e078d8ec.9b5078"]]},{"id":"560fa3f7.ec672c","type":"ui_button","z":"b23ab862.8945e8","name":"","group":"bd1d1ce8.db71b","order":5,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":430,"y":580,"wires":[["c91b72b1.d5fa1","72e691ed.8cd89","105ae85a.264648"]]},{"id":"72e691ed.8cd89","type":"debug","z":"b23ab862.8945e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":360,"wires":[]},{"id":"95ca3fdc.e52d8","type":"ui_text","z":"b23ab862.8945e8","group":"bd1d1ce8.db71b","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":930,"y":560,"wires":[]},{"id":"e078d8ec.9b5078","type":"change","z":"b23ab862.8945e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Motor On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[["95ca3fdc.e52d8"]]},{"id":"105ae85a.264648","type":"change","z":"b23ab862.8945e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Motor Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":580,"wires":[["95ca3fdc.e52d8"]]},{"id":"651256f3.e7b7d8","type":"tab","label":"Weather API","disabled":false,"info":""},{"id":"ed4938be.e1cc78","type":"inject","z":"651256f3.e7b7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":160,"y":320,"wires":[["8a8311e3.798b6"]]},{"id":"8a8311e3.798b6","type":"http request","z":"651256f3.e7b7d8","name":"api","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Chennai,%20IN&appid=a7c2f6db7663395799fd94aaba9aed1b","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":320,"wires":[["884113df.8dd17","5ed1b0b8.c895d","b9c1aef7.38299","d13fd0aa.b71ce","66c1a8f1.86bb98"]]},{"id":"884113df.8dd17","type":"debug","z":"651256f3.e7b7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":320,"wires":[]},{"id":"5ed1b0b8.c895d","type":"change","z":"651256f3.e7b7d8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["da9284d1.1bb458"]]},{"id":"9c688a96.541cc8","type":"ui_gauge","z":"651256f3.e7b7d8","name":"","group":"5d9a04d3.9d32bc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Dc","format":"{{value}}","min":"0","max":"100","colors":["#0cb300","#e2e600","#f01414"],"seg1":"","seg2":"","x":710,"y":100,"wires":[]},{"id":"b9c1aef7.38299","type":"change","z":"651256f3.e7b7d8","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["3dba1230.e88f3e"]]},{"id":"3dba1230.e88f3e","type":"ui_gauge","z":"651256f3.e7b7d8","name":"","group":"5d9a04d3.9d32bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e2e600","#ee1111"],"seg1":"","seg2":"","x":710,"y":440,"wires":[]},{"id":"d13fd0aa.b71ce","type":"change","z":"651256f3.e7b7d8","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["6cc33f01.20549"]]},{"id":"6cc33f01.20549","type":"ui_gauge","z":"651256f3.e7b7d8","name":"","group":"5d9a04d3.9d32bc","order":4,"width":0,"height":0,"gtype":"donut","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#d6e600","#e7230d"],"seg1":"","seg2":"","x":770,"y":220,"wires":[]},{"id":"66c1a8f1.86bb98","type":"change","z":"651256f3.e7b7d8","name":"type of weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":560,"wires":[["bdee25b4.387878"]]},{"id":"bdee25b4.387878","type":"ui_text","z":"651256f3.e7b7d8","group":"2a49e944.7c54d6","order":4,"width":6,"height":3,"name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":410,"y":560,"wires":[]},{"id":"da9284d1.1bb458","type":"function","z":"651256f3.e7b7d8","name":"","func":"msg.payload = msg.payload - 273.15\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["9c688a96.541cc8"]]},{"id":"cfd30fd8.f39c3","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"4j41xg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bd1d1ce8.db71b","type":"ui_group","z":"","name":"Agriculture System","tab":"d75c8eb6.dafe7","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d9a04d3.9d32bc","type":"ui_group","z":"","name":"station","tab":"e2e79fdd.7f085","order":1,"disp":false,"width":"6","collapse":false},{"id":"2a49e944.7c54d6","type":"ui_group","z":"","name":"Dialy Chart","tab":"e2e79fdd.7f085","order":2,"disp":false,"width":"6","collapse":false},{"id":"d75c8eb6.dafe7","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","disabled":false,"hidden":false},{"id":"e2e79fdd.7f085","type":"ui_tab","z":"","name":"Weather API","icon":"dashboard","disabled":false,"hidden":false}]